/* default / smallest <= 640*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 600;
  direction: rtl;
}

.page-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "balance"
    "activities"
    "last"
    "pill"
    "view"
    "encome"
    "summary"
    "method";
}

.box {
  border: 1px solid #e5e7eb;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin: 15px 10px;
}

/* start nav */
nav {
  display: flex;
  align-items: center;
  grid-area: nav;
  background: linear-gradient(180deg, #ffffff 0%, #f3f6fa 100%);
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.logo-img {
  width: 50px;
  background: linear-gradient(135deg, #3b82f6 0%, #4338ca 100%);
  border-radius: 15px;
  padding: 10px;
}

.logo-img img {
  width: 100%;
  display: block;
}

.logo-title h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: oklch(0.21 0.034 264.665);
}

.logo-title span {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: oklch(0.446 0.03 256.802);
}

.status-badge {
  background-color: #f0fdf4;
  padding: 4px 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.status {
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: #1bcf63;
  border-radius: 50%;
}

.status-badge span {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  display: block;
  color: oklch(0.527 0.154 150.069);
}

.action-buttons {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

button {
  background-color: oklch(98.5% 0.002 247.839);
  border: 1px solid oklch(92.8% 0.006 264.531);
  border-radius: 15px;
  padding: 12px;
  transition: all 0.2s ease-in;
}

button:hover {
  background-color: #f3f4f6;
}

.action-buttons svg {
  width: 16px;
  height: 16px;
  display: block;
  color: oklab(37.306% -0.00585 -0.03386);
}

.notification {
  position: relative;
}

.notification-badge {
  text-align: center;
  width: 15px;
  background-color: #fb2c36;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  position: absolute;
  top: -5px;
  right: -4px;
}

.personl-account {
  display: flex;
  align-items: center;
  column-gap: 5px;
  border: 1px solid #e5e7eb;
  padding: 8px 12px;
  background-color: #ffffff;
  border-radius: 16px;
  transition: all 0.2s ease-in;
}

.personl-account:hover {
  box-shadow: 0px 4px 6px 0px rgb(171, 171, 171);
}

.personl-account span {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: oklch(0.21 0.034 264.665);
}

.personl-account img {
  width: 35px;
  display: block;
  border-radius: 15px;
}
/* end nav */

/* start balance section */
.balance-section {
  grid-area: balance;
}
.balance {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 32px;
}

.balance span {
  font-size: 14px;
  line-height: 20px;
  color: oklch(0.551 0.027 264.364);
}

.balance p {
  font-weight: 700;
  font-size: 30px;
  color: oklch(0.21 0.034 264.665);
  line-height: 36px;
}

.decrease {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.decrease span {
  color: oklch(0.577 0.245 27.325);
  font-size: 14px;
  line-height: 20px;
}

.increase svg,
.decrease svg {
  width: 10px;
  color: oklch(0.577 0.245 27.325);
}

.increase svg,
.increase span {
  color: oklch(0.627 0.194 149.214);
}
/* end balance section */

/* start activity section */
section.ativity-section {
  grid-area: activities;
}

.activity h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: oklch(0.21 0.034 264.665);
  margin-bottom: 25px;
}

.latest-activity {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.activity-box {
  background-color: #eff6ff;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  padding: 15px;
  border-left: solid 4px #2b7fff;
  border-radius: 12px;
}

.add-card.activity-box {
  background-color: #f0fdf4;
  border-left: solid 4px #00c950;
}

.activity-box .icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 10px 0px;
}

.create-account.activity-box .icon {
  background-color: #dbeafe;
}

.add-card.activity-box .icon {
  background-color: #dbfce7;
}

.icon svg {
  width: 100%;
  height: 100%;
  display: block;
  color: #155dfc;
}

.add-card .icon svg {
  color: #00a63e;
}

.activity-details {
  display: flex;
  row-gap: 10px;
  column-gap: 12px;
}

.creat-acount-details h3 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: oklch(0.21 0.034 264.665);
}

.activity-details p {
  font-size: 12px;
  line-height: 16px;
  color: oklch(0.446 0.03 256.802);
}

.activity-details span {
  font-size: 12px;
  line-height: 16px;
  color: oklch(0.551 0.027 264.364);
  display: block;
  margin-top: 10px;
}

.activity-type span {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: oklch(0.546 0.245 262.881);
}

.activity-type.card span {
  color: oklch(62.7% 0.194 149.214);
}

.activity-section hr {
  margin: 16px;
  border: 1px oklch(96.7% 0.003 264.542) solid;
}

.more {
  text-align: center;
}

.more a {
  text-decoration: none;
  color: oklch(0.488 0.243 264.376);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
/* end activity section */

/* start latest Transactions section */
.section-header {
  display: flex;
  justify-content: space-between;
}

.section-header h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: oklch(0.21 0.034 264.665);
}

.section-header .show-more a {
  text-decoration: none;
  color: oklch(44.6% 0.03 256.802);
  font-size: 12px;
  font-weight: 500;
  line-height: calc(1 / 0.75);
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.section-header .show-more svg {
  width: 7px;
  color: oklch(44.6% 0.03 256.802);
}

.latest-transition-section table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.latest-transition-section table th {
  font-size: 12px;
  line-height: 16px;
  color: oklch(0.373 0.034 259.733);
  font-weight: 600;
}

.latest-transition-section table thead th:first-child {
  text-align: right;
}

/* .latest-transition-section table thead th:last-child {
  text-align: left;
} */
.latest-transition-section table td .trans-data {
  /* background-color: #155dfc; */
  display: flex;
  column-gap: 10px;
}

.latest-transition-section table td .trans-info {
  display: flex;
  flex-direction: column;
}

.latest-transition-section table td .trans-info span:first-child {
  font-weight: 500;
  color: oklch(0.21 0.034 264.665);
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}

.latest-transition-section table td .trans-info span:nth-child(2) {
  font-weight: 600;
  color: oklch(0.551 0.027 264.364);
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}

.latest-transition-section table tr td img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  width: fit-content;
  background-color: #dbfce7;
  color: oklch(0.448 0.119 151.328);
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 12px;
}

.latest-transition-section table td .badge.bause {
  background-color: #fef9c2;
  color: oklch(0.476 0.114 61.907);
}

.latest-transition-section table tr td svg {
  color: #016630;
  width: 12px;
  height: 12px;
}

.latest-transition-section table td:nth-child(3) {
  font-size: 12px;
  font-weight: 600;
  color: oklch(0.446 0.03 256.802);
  line-height: 16px;
}

span.increase {
  font-weight: 600;
  color: oklch(0.627 0.194 149.214);
  line-height: 16px;
  font-size: 12px;
}

.latest-transition-section table td {
  text-align: center;
  vertical-align: middle;
  padding: 12px 8px;
  border-bottom: 1px solid #ffffff;
}

table th {
  border-bottom: 2px solid #e5e7eb;
  padding: 12px 8px;
}

.trans_img.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trans_img.icon.restaurant {
  background-color: #ffedd4;
}

.trans_img.icon.shopping {
  background-color: #dbeafe;
}

.trans_img.icon.gas {
  background-color: #ffe2e2;
}

.trans_img.icon.fit {
  background-color: #cefafe;
}

.trans_img.icon.learning {
  background-color: #d0fae5;
}

.trans_img.icon svg {
  width: 12px;
  height: 12px;
}

.trans_img.icon.trans_img.icon.shopping svg {
  color: #155dfc;
}

.trans_img.icon.trans_img.icon.restaurant svg {
  color: #f54900;
}

.trans_img.icon.trans_img.icon.gas svg {
  color: #e7000b;
}

.trans_img.icon.trans_img.icon.fit svg {
  color: #0092b8;
}

.trans_img.icon.trans_img.icon.learning svg {
  color: #009966;
}

.latest-transition-section table td .badge.shopping {
  background-color: #dbeafe;
  color: #193cb8;
}

.latest-transition-section table td .badge.shopping svg {
  color: #193cb8;
}

.latest-transition-section table td .badge.restaurant {
  background-color: #ffedd4;
  color: oklch(0.47 0.157 37.304);
}

.latest-transition-section table td .badge.restaurant svg {
  color: oklch(0.47 0.157 37.304);
}

.latest-transition-section table td .badge.half-bill {
  background-color: #f3e8ff;
  color: #6e11b0;
}

.latest-transition-section table td .badge.half-bill svg {
  color: #6e11b0;
}

.latest-transition-section table td .badge.transportation {
  background-color: #ffe2e2;
  color: #9f0712;
}

.latest-transition-section table td .badge.transportation {
  background-color: #ffe2e2;
  color: #9f0712;
}

.latest-transition-section table td .badge.transportation svg {
  color: #9f0712;
}

.latest-transition-section table td .badge.intertaiment {
  background-color: #e0e7ff;
  color: #005f78;
}

.latest-transition-section table td .badge.health {
  background-color: #cefafe;
  color: oklch(0.398 0.195 277.366);
}

.latest-transition-section table td .badge.intertaiment svg {
  color: oklch(0.398 0.195 277.366);
}

.latest-transition-section table td .badge.health svg {
  color: #005f78;
}

span.dec {
  font-weight: 600;
  color: oklch(0.21 0.034 264.665);
  line-height: 16px;
  font-size: 12px;
}
/* end latest Transactions section */
/* start monthly bills section */
.monthly-bills-section {
  grid-area: pill;
}
.total-monthly-bills {
  margin-top: 10px;
  text-align: center;
}

.total-monthly-bills .total {
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  color: oklch(0.21 0.034 264.665);
}

.total-monthly-bills .total-desc {
  font-weight: 600;
  line-height: 20px;
  font-size: 14px;
  color: oklch(0.551 0.027 264.364);
}

.inner-boxes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px 10px;
  margin-top: 10px;
}

.inner-box {
  text-align: center;
  width: 49%;
  background-color: #f9fafb;
  /* border: solid 1px; */
  border-radius: 16px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.inner-box .inner-box-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: oklch(0.551 0.027 264.364);
}

.inner-box .price {
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: oklch(0.21 0.034 264.665);
}

.inner-box .deadline {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: oklch(0.637 0.237 25.331);
}

.inner-icon {
  width: 30px;
  height: 30px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  margin: auto;
}

.inner-icon.wifi {
  background-color: #dbeafe;
}

.inner-icon.wifi svg {
  color: #155dfc;
}

.inner-icon.electricity-bill {
  background-color: #fef9c2;
}

.inner-icon.inner-icon.electricity-bill svg {
  color: #d08700;
}

.inner-icon.phone-bill {
  background-color: #dbfce7;
}

.inner-icon.inner-icon.phone-bill svg {
  color: #00a63e;
}

.inner-icon.netflix-bill {
  background-color: #ffe2e2;
}

.inner-icon.inner-icon.netflix-bill svg {
  color: #e7000b;
}

p.deadline.close {
  color: oklch(0.637 0.237 25.331);
}

p.deadline.orange-close {
  color: oklch(0.705 0.213 47.604);
}

p.deadline.orange-close {
  color: oklch(0.705 0.213 47.604);
}

p.deadline.green-close {
  color: oklch(0.723 0.219 149.579);
}

p.deadline.not-close {
  color: oklch(0.551 0.027 264.364);
}
/* end monthly bills section */

/* start Budget section */
section.budget-section {
  grid-area: view;
}
.total-budget {
  margin-top: 15px;
  background-color: #eef3ff;
  border-radius: 16px;
  padding: 20px;
}

.budget-card-header {
  display: flex;
  justify-content: space-between;
}

.total-palance p:first-child {
  color: oklch(0.546 0.245 262.881);
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
}

.total-palance p:nth-child(2) {
  color: oklch(0.379 0.146 265.522);
  font-weight: 700;
  line-height: 32px;
  font-size: 24px;
}

.residual p:first-child {
  color: oklch(0.551 0.027 264.364);
  font-weight: 600;
  line-height: 20px;
  font-size: 14px;
}

.residual p:nth-child(2) {
  color: oklch(0.627 0.194 149.214);
  font-weight: 600;
  line-height: 28px;
  font-size: 18px;
}

.bar {
  margin-top: 10px;
}

.bar-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.bar-title p {
  color: oklch(0.446 0.03 256.802);
  font-weight: 600;
  line-height: 16px;
  font-size: 12px;
}

.outter-bar {
  width: 100%;
  height: 10px;
  background-color: #e5e7eb;
  border-radius: 16px;
}

.inner-bar {
  height: 100%;
  border-radius: inherit;
}

.inner-bar.wid-80 {
  background-color: #516dff;
  width: 82.5%;
}

.budget-box {
  margin-top: 20px;
  border: solid 1px #dfe1e7;
  border-radius: 16px;
  padding: 15px;
  transition: all 0.2s ease-in;
}

.budget-box:hover {
  background: #f3f4f6cc;
  border-color: #d1d5dbe6;
  transform: translateY(-1px);
  box-shadow:
    0 4px 6px -1px #0000001a,
    0 2px 4px -1px #0000000f;
}

.budget-icon {
  width: 35px;
  height: 35px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.budget-icon.intertaiment {
  background-color: #ffedd4;
  color: #f54900;
}

.budget-icon.cusmo {
  background-color: #fce7f3;
  color: #e60076;
}

.budget-icon.bills {
  background-color: #fee2e2;
  color: #e7000b;
}

.budget-icon.home-orders {
  background-color: #dcfce7;
  color: #00a63e;
}

.budget-details {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.budget-data p:first-child {
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  color: oklch(0.21 0.034 264.665);
}

.budget-data p:nth-child(2) {
  font-weight: 600;
  line-height: 16px;
  font-size: 12px;
  color: oklch(0.551 0.027 264.364);
}

.inner-bar.wid-50 {
  width: 50%;
  background-color: #ff6900;
}

.all-used.badge {
  color: rgb(153, 27, 27);
  background-color: #fee2e2;
}

.last-20.badge {
  color: rgb(146, 64, 14);
  background-color: #fef3c7;
}

.inner-bar.wid-100 {
  width: 100%;
  background-color: #fb2c36;
}

.inner-bar.wid-l-20 {
  width: 80%;
  background-color: #f6339a;
}

.wid-l-14 {
  width: 86%;
  background-color: #00c950;
}
/* end Budget section */

/* start income vs expenses section */
section.income-vs-expenses {
  grid-area: encome;
}

.key {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: auto;
  /* background-color: #009966; */
}

.key span {
  color: rgb(100, 116, 139);
  font-weight: 600;
  line-height: 18px;
  font-size: 12px;
}

.income-box {
  width: 12px;
  height: 12px;
  background-color: #10b981;
  border-radius: 2px;
}

.expenses-box {
  width: 12px;
  height: 12px;
  background-color: #ef4444;
  border-radius: 2px;
}

.chart-keys {
  margin: auto;
  display: flex;
  width: 30%;
}

.chart-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.income-chart-column {
  width: 16px;
  height: 95px;
  background-color: #3cc698;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.chart {
  display: flex;
  align-items: end;
  column-gap: 2px;
}

.expenses-chart-column {
  width: 16px;
  height: 42px;
  background-color: #ef4444;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.week-details span {
  color: rgb(100, 116, 139);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
/* end income vs expenses section */
